@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend+Deca:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 500px;
    background: lightgray;
    height: 100vh;
    gap: 3%; 
}

h1{
    width: 70%;
    font-size:3em;
    font-family: 'Anton', sans-serif;
}

.label-login {
    width: 70%;
    position: relative;
    cursor: text;
}

.span-sem-foco {
    display: block;
    position: absolute;
    margin: 16px 0 0 16px;
    font-size: 1em;
    transition: all 0.3s;
    color:gray;
}

.span-com-foco {
    margin: 1px 0 0 10px;
    font-size: 0.6em;
    transition: all 0.3s;
} 

.input-login {
    display: block;
    width: calc(100% - 26px);
    padding: 17px 13px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 0.8em;
    background-color: #ececec;
}

.logar {
    width: 70%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 17px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.7s;
}

.logar:hover {
    color: red;
    background-color: white;
    font-weight: bold;
}

.grupo-botoes-login {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.botao-login {
    width: 32.3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.apple {
    background-color: black;
}

.img-apple {
    background-image: url(imagens/icon_apple.jpg);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}

.facebook {
    background-color: blue;
}

.img-facebook {
    background-image: url(imagens/icon_facebook.jpeg);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}

.google {
    background-color: white;
}

.img-google {
    background-image: url(imagens/icon_google.jpeg);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}

.label-manter-login {
   width: 70%;
   display: flex;
   align-items: center;
   gap: 2%;
}

.span-manter-login{
    cursor: pointer;
}

.input-manter-login{
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: white;
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 3px;
}

.input-manter-login:checked{
    background-color: red;    
}

.criar-conta{
    text-align: center;
    margin-top: 30px;
    color: gray;
}

.criar-conta a {
    color: gray;
    text-decoration: none;
}
.criar-conta a:hover {
    font-weight: bolder;
    color: red;
}

.img-principal {
    background-image: url(imagens/imagem_principal_4.jpeg);
    width: 100vw;
    background-size: cover;
    background-position: center;
    flex: 1;
}